.BottomPanel1{
    position: absolute;
    bottom: 0;
    margin: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content: space-between;
}

.BottomPanel1>.Cards{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.BottomPanel1>.Bid{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}