body {
  margin: 0;
  line-height: normal;
  background-color: rgb(34,34,34);
}

:root {
  /* fonts */
  --p-medium-def: Inter;

  /* font sizes */
  --p-medium-def-size: 16px;
  --p-small-bold-size: 14px;
  --headers-h2-bold-size: 24px;

  /* Colors */
  --main-colors-background: #222;
  --main-colors-content: #e5e5e5;
  --text-black: #000;
  --main-colors-header: #fff;
  --main-colors-4: #0067ff;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-5xl: 24px;
}
