.theAreaWithTheGame {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height:100%;
    padding: 10px;
    margin:0;
    gap:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.game {
    display:flex;
    flex-direction:row;
    flex:1;
}
.hand {
    display:flex;
    align-items:center;
    justify-content:center;
}
.theButtonPanel {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    /* Шаблон панели выбора действий */
    position: static;
    height:auto;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    /* Inside Auto Layout */
    /*flex: none;*/
    /*order: 0;*/
    /*flex-grow: 0;*/
    /*margin: 20px 0px;*/
}

.scroll{
    --scrollbarBgColor: rgba(0, 0, 0, .05);
    --scrollbarThumbColor: rgba(0, 0, 0, .15);
    --scrollbarThumbColorSecond: rgba(255, 255, 255, .7);
    --scrollbarWidth: 16px;
    --scrollbarBorder: 0 solid var(--scrollbarBgColor);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
    
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x:hidden;
    padding: 0 5px 0 0;
    /*height: calc(100% - 100px);*/
}
.scroll {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
  }
.scroll::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
.scroll::-webkit-scrollbar-track {
    background: var(--scrollbarBgColor);
    border-radius: var(--scrollbarBorderRadius);
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    background-image: linear-gradient(
        180deg,
        var(--scrollbarThumbColor) 0%,
        var(--scrollbarThumbColorSecond) 90%
    );
}


@media (min-width: 578px) {
    .game{
        width:calc(128px * 1);
    }
}
@media (min-width: 706px){
    .game{
        width: 256px;
    }
}
@media (min-width: 834px){
    .game{
        width:384px;
    }
}
@media (min-width: 962px){
    .game{
        width:512px;
    }
}
@media (min-width: 1120px){
    .game{
        width:640px;
    }
}
@media (min-width: 1300px){
    .game{
        width:768px;
    }
}


