.enterlobbyname {
  border: 1px solid var(--main-colors-1);
  outline: 0;
  background-color: var(--color-gainsboro);
  width: 262px;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-44xl);
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.playersnumberimg-icon {
  width: 35px;
  position: relative;
  height: 35px;
  object-fit: cover;
}
.enternumber {
  width: 40px;
  border-radius: 60px;
  background-color: var(--color-gainsboro);
  border: 0;
  height: 35px;
}
.playersnumberimg-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div7 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--main-colors-1);
  text-align: left;
}
.createlobbybutton1,
.createlobbypage {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.createlobbybutton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 94px;
  background-color: var(--color-gainsboro);
  width: 262px;
  border-radius: var(--br-6xl);
  height: 51px;
  flex-direction: row;
}
.createlobbypage {
  width: 445px;
  height: 330px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--main-colors-header);
  overflow: hidden;
  flex-direction: column;
  padding: 25px 49px 14px 50px;
  gap: 25px;
  max-width: 90%;
  max-height: 90%;
}
